
*.o

*.dep

projects/stm32/MDK-ARM/project.uvgui.*

*.bak

*.Administrator

bluetooth/MDK-ARM/obj/*

board/stm32/MDK-ARM/obj/*

mcu/stm32f0/MDK-ARM/obj/*

system/MDK-ARM/obj/*

workspace/build/*

app/led/MDK-ARM/obj/*

app/led/MDK-ARM/lst/*

app/sim/sim
